/*
#FF4900 - osnova
#0B61A4 - 2-oy
#67E300 - 3-iy
*/

@font-face {
   font-family: "GardensC";
   src: url("../fonts/GardensC.otf");
}

*{
   font-family: "GardensC";
   margin: 0;
   padding: 0;
}
/******************Шапка*******************/
header{
   background-color: #FF4900;
   padding-top: 30px;
   padding-bottom: 30px;
}

.top {
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   margin: auto;
   align-items: center;
}
.top img{
   width: 200px;
}

button{
   font-size: 2em;
   padding: 0.5em;
   border-radius: 20px;
   background-color: #0B61A4;
}
button:active{
   background-color: #67E300;
}

.top h2{
   color: #0B61A4;
}

/*Наши преимущества*/

.advantage{
   background-color: #67E300;
   max-width: 1200px;
   margin: auto;
   padding: 30px;
}

.advantage h2{
   text-align: center;
}

.advantage .content{
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}

.advantage .item{
   text-align: center;
   transform: scale(1);
   transition: transform 0.5s ease-out;
}

.advantage img{
   width: 50%;
}

.advantage .item:hover{
   transform: scale(1.2);
}