/*
#FF4900 - osnova
#0B61A4 - 2-oy
#67E300 - 3-iy
*/

@font-face {
   font-family: "GardensC";
   src: url("../fonts/GardensC.otf");
}

*{
   font-family: "GardensC";
   margin: 0;
   padding: 0;
}
/******************Шапка*******************/
header{
   background-color: #FF4900;
   padding-top: 30px;
   padding-bottom: 30px;
}

.top {
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   margin: auto;
   align-items: center;
}
.top img{
   width: 200px;
}

button{
   font-size: 2em;
   padding: 0.5em;
   border-radius: 20px;
   background-color: #0B61A4;
}
button:active{
   background-color: #67E300;
}

.top h2{
   color: #0B61A4;
}

/*Общие свойства*/

section{
   max-width: 1200px;
   margin: auto;
   padding: 30px;
}

section h2{
   text-align: center;
}

/*Наши преимущества*/

.advantage{
   background-color: #67E300;
}

.advantage .content{
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}

.advantage .item{
   text-align: center;
   transform: scale(1);
   transition: transform 0.5s ease-out;
}

.advantage img{
   width: 50%;
}

.advantage .item:hover{
   transform: scale(1.2);
}

/*Особенности*/

.features{
   background-color: #FF4900;
}

.features .content{
   display: flex;
   justify-content: space-around;
   padding-top: 30px;
   font-size: larger;
}

ul.minus{
   list-style-image: url("../img/minus.png");
}

ul.plus{
   list-style-image: url("../img/plus.png");
}

/*Каталог*/

.catalog{
   background-color: #67E300;
}

.card{
   border: solid 1px;
   text-align: center;
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.card button{
   font-size: 1.5em;
   padding: 10px;
}

.price{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container{
   padding-top: 50px;
   
}

label{
   border: solid 1px;
   padding: 10px;
   border-radius: 50px;
   font-size: 1.5em;
   background-color: #FF4900;
}

.categories{
   padding: 30px;
}

.catalog input{
   opacity: 0;
   position: absolute;
}

#giro:checked ~ .giro-container,
#electro:checked ~ .electro-container,
#segway:checked ~ .segway-container
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 50px;
}

#all:checked ~ .giro-container,
#all:checked ~ .electro-container,
#all:checked ~ .segway-container
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 50px;
}

.giro-container, .electro-container, .segway-container{
   display: none;
}